{% extends 'base.html' %}

{% block 'titulo' %}
Dashboard {{ user }}
{% endblock %}

{% block 'conteudo' %}
    <h1 class="mt-4 mb-3">Olá {{ user }}</h1>
    <p>Aqui você pode cadastrar novos contatos.</p>
    <p class="mb-5">Esses contatos serão exibidos na pagina inicial, para ir para lá basta clicar na palavra 'Frexco' logo acima.</p>
    {% include 'parciais/_messages.html' %}

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <table class="table">
                {{ form }}
                {% csrf_token %}
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}